<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ace/about us.css' %}" />

	<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default example2">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
					<img src="https://florian996.files.wordpress.com/2016/11/ace-logo1.png?w=840" alt="Dispute Bills">
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about_us/">About Us</a></li>
          <li><a href="/for_jobseekers/">For Jobseekers</a></li>
					<li><a href="/jobs/">Jobs</a></li>
					<li><a href="/contact/">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">English</a></li>
              <li><a href="#">Deutsch</a></li>
              <li><a href="#">Romana</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </nav><br><br>

	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-12">
			ACE recruitment is a recruitment agency that offers Romanian
			 jobseekers the opportunity to find a workplace abroad.
			 By offering free consultancy <span class="orange">we match candidates
			 with suitable vacancies</span> that help them grow both personally
			 and professionally.<br>
			 Our mission:
			</div>
		</div>
	</div>
	<br><br>

	<div class="container mission1 text-center">
		Good <span class="mission2">M</span>anagement<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="mission2">I</span>nternational Jobs<br>
		&nbsp;&nbsp;&nbsp;
		<span class="mission2">S</span>tability<br>
		&nbsp;&nbsp;&nbsp;
		<span class="mission2">S</span>ecurity<br>
  	<span class="backspace">Strong Relat<span class="mission2">I</span>onships</span><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    T<span class="mission2">O</span>p Employers<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Co<span class="mission2">N</span>stant Development<br>
	</div><br><br>

	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-12">
			<span class="heading">Dedicated recruiters with years of experience!</span><br><br>
			Whether you are an employer or a jobseeker, the ACE team will get to know you and understand exactly what your needs are.
			<br><br>
			<span class="orange heading">ACE recruitment contributes to the development of our clients by handling the entire recruitment and selection process.</span>
			<br><br>
			</div>
		</div>
	</div><br><br>

	<div class="container upload-box blackisk">
		<div class="row">
			<div class="CV-heading2 col-md-12 ">
			<span class="heading2">Our Goal</span><br>
			Our goal is to become a top company that will help our clients reduce their staff shortages by matching suitable Romanian workers with available vacancies, whilst contributing to the personal and professional development of the individuals that wish to relocate and find a job abroad.
			</div>
		</div>
	</div><br><br>

	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-12">
			<span class="heading">Our Values</span><br>
			</div>
		</div>
	</div>

	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-10">
			We never promise something that we can’t deliver. How is our business built? With two key ingredients: honesty and integrity.
			</div>

			<div class="col-md-2 button">
				<form action="#">
	    		<input type="button" value="Integrity" />
			</form>
			</div>
		</div>
	</div>
	<div class="container upload-box">
		<div class="row">
			<div class="col-md-2 button">
				<form action="#">
	    		<input type="button" value="Professionalism" />
			</form>
			</div>
			<div class="CV-heading col-md-10">
Planning, decision-making, communication: <br> this is what a pro does and this is who we are.			</div>
			</div>
		</div>
	</div>

	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-10">
		We are a passionate young team with a positive approach towards life which makes the collaboration with both clients and candidates a joyful experience.
			</div>

			<div class="col-md-2 button">
				<form action="#">
	    		<input type="button" value="Passion" />
			</form>
			</div>
		</div>
	</div>
	<div class="container upload-box">
		<div class="row">
			<div class="col-md-2 button">
				<form action="#">
	    		<input type="button" value="Responsibility" />
			</form>
			</div>
			<div class="CV-heading col-md-10">
			What do you think of when you hear the word responsibility? An obligation? A promise? We are responsible to fulfill all the above mentioned and satisfactorily complete every task.
			</div>
			</div>
		</div>
	</div>
	<br><br>

<div id="footer">
  &copy ACE Recruitment 2017. All Rights Reserved.
</div>

</html>
