<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ace/contact.css' %}" />

	<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default example2">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
					<img src="https://florian996.files.wordpress.com/2016/11/ace-logo1.png?w=840" alt="Dispute Bills">
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about_us/">About Us</a></li>
          <li><a href="/for_jobseekers/">For Jobseekers</a></li>
					<li><a href="/jobs/">Jobs</a></li>
					<li><a href="/contact/">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">English</a></li>
              <li><a href="#">Deutsch</a></li>
              <li><a href="#">Romana</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </nav><br><br>
  
  
<div class="container">
  <div clas="row">
    <div class="col-md-4 ">
			<img class="picture" src="https://florian996.files.wordpress.com/2016/11/15934560_10154887642953967_1807316158_n.jpg?w=400&h=768&crop=1" alt="pic1">
		</div>

		<div class="col-md-8">
			<h1>Annabelle Nacov</h1>
			<h2>Recruitment Consultant</h2>
			<p>Annabelle is the founder of ACE recruitment.
				She graduated in 2014 from the Business School at the
				University of Greenwich, London. Annabelle has gained
				experience whilst working as a recruitment consultant
			  for different companies in London. She describes herself
				as an optimistic person with a good attention to detail,
				organized and successful in resolving problems.
				Annabelle loves music, travelling, reading a good book
			  and has a passion for psychology.</p>
		</div>
  </div>
</div>

<br><br>
<div class="container">
  <div clas="row">
		<div class="col-md-8">
			<h1>Anca Irimia</h1>
			<h2>Recruitment Consultant</h2>
			<p>Anca is an associate of the ACE project.
				She graduated from Vest University Timisoara where she
				got a degree in International Business Economy.
				She is already an entrepreneur owning a business from
				the young age of 21.
				Anca also works as an accountant/event planner/facilities
			  administrator at a British company with a branch in
				Timisoara. She describes herself as positive,
			  hard-working, sociable and career focused.
			 	Anca loves to travel, to discover new cultures and
				to try out new culinary dishes. She also has a
			  passion for sports.</p>
		</div>

		<div class="col-md-4 ">
			<img class="picture" src="https://florian996.files.wordpress.com/2016/11/15879595_10154887632833967_974589775_n.jpg?w=432&h=768&crop=1" alt="pic1">
		</div>
  </div>
</div>

	<br><br>

	<div id="footer">
			&copy ACE Recruitment 2017. All Rights Reserved.
	</div>

</html>
