<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ace/for jobseekers.css' %}" />

	<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default example2">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
					<img src="https://florian996.files.wordpress.com/2016/11/ace-logo1.png?w=840" alt="Dispute Bills">
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about_us/">About Us</a></li>
          <li><a href="/for_jobseekers/">For Jobseekers</a></li>
					<li><a href="/jobs/">Jobs</a></li>
					<li><a href="/contact/">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">English</a></li>
              <li><a href="#">Deutsch</a></li>
              <li><a href="#">Romana</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </nav><br><br>


	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-12">
				<span class="heading">ACE team helps you find your dream job!</span><br>

	<span class="heading">Our <span class="orange">free</span> of charge consultancy services include:</span><br>
	•	Assistance in finding a job suitable with your qualifications and experience<br>
	•	Help with the writing of your professional CV<br>
	•	Prep for the interview with the employers<br>
	•	Guidance in different matters regarding the relocation abroad

			</div>
		</div>
	</div>
	<br><br>

	<div class="container upload-box">
		<div class="row">
			<div class="CV-heading col-md-12">
				<span class="heading">Writing your CV</span><br>
				Everything starts with your CV, therefore when writing it you have to be extra careful. We offer you some useful tips:
			</div>
		</div>
	</div>

	<br><br>

	<div class="container upload-box">
		<div class="row">
			<div class="col-md-5 button">
				<form action="#">
	    		<input type="button" value="Microsoft Word, Times New Roman 11& 12" />
			</form>
			</div>
			<div class="CV-heading col-md-7">
		This is how we insure that any employers can open and read the file easily.
			</div>
			</div>
		</div><br>

		<div class="container upload-box">
			<div class="row">
				<div class="CV-heading col-md-10">
			Up to date and stated at the beginning so the employer can get in contact with you easily.
				</div>
				<div class="col-md-2 button">
					<form action="#">
		    		<input type="button" value="Contact Details" />
				</form>
				</div>
				</div>
			</div><br>

			<div class="container upload-box">
				<div class="row">
					<div class="col-md-2 button">
						<form action="#">
							<input type="button" value="Good structure" />
					</form>
					</div>
					<div class="CV-heading col-md-10">
			Try not to include irrelevant information for the job you apply. Your CV needs to be easy to read.
					</div>
					</div>
				</div><br>

				<div class="container upload-box">
					<div class="row">
						<div class="CV-heading col-md-10">
				It’s important not to make spelling or grammar mistakes.
						</div>
						<div class="col-md-2 button">
							<form action="#">
								<input type="button" value="Good Grammar" />
						</form>
						</div>
						</div>
					</div><br>

					<div class="container upload-box">
						<div class="row">
							<div class="col-md-5 button">
								<form action="#">
					    		<input type="button" value="Describe your duties and achievements" />
							</form>
							</div>
							<div class="CV-heading col-md-7">
It is not enough to state your previous job roles. The employer needs to understand what duties you had and how you developed at your previous job.							</div>
							</div>
						</div><br>
		<br><br>

	<div id="footer">
	&copy ACE Recruitment 2017. All Rights Reserved.
</div>

</html>
